<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>Controller.LogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>Controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBusServlet</servlet-name>
        <servlet-class>Controller.addBusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRouteServlet</servlet-name>
        <servlet-class>Controller.addRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDriverServlet</servlet-name>
        <servlet-class>Controller.addDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBusServlet</servlet-name>
        <servlet-class>Controller.EditBusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBusServlet</servlet-name>
        <servlet-class>Controller.deleteBusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addScheduleServlet</servlet-name>
        <servlet-class>Controller.addScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDriverServlet</servlet-name>
        <servlet-class>Controller.EditDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDriverServlet</servlet-name>
        <servlet-class>Controller.DeleteDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRouteServlet</servlet-name>
        <servlet-class>Controller.EditRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteRouteServlet</servlet-name>
        <servlet-class>Controller.deleteRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditScheduleServlet</servlet-name>
        <servlet-class>Controller.EditScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/LogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBusServlet</servlet-name>
        <url-pattern>/addBusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRouteServlet</servlet-name>
        <url-pattern>/addRouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDriverServlet</servlet-name>
        <url-pattern>/addDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBusServlet</servlet-name>
        <url-pattern>/EditBusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBusServlet</servlet-name>
        <url-pattern>/deleteBusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addScheduleServlet</servlet-name>
        <url-pattern>/addScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDriverServlet</servlet-name>
        <url-pattern>/EditDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDriverServlet</servlet-name>
        <url-pattern>/DeleteDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRouteServlet</servlet-name>
        <url-pattern>/EditRouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteRouteServlet</servlet-name>
        <url-pattern>/deleteRouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditScheduleServlet</servlet-name>
        <url-pattern>/EditScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
